# Python Control Flow (Selection Statements and Looping)  
### *Created by Udaya* ðŸš€


## ðŸ“Œ Selection Statements (Conditional Statements)  

| Statement | Description | Syntax | Example |
|-----------|------------|--------|---------|
| `if` | Executes a block of code if a condition is `True` | `if condition:` | ```python if x > 10: print("Greater") ``` |
| `if-else` | Executes one block if `True`, another if `False` | `if condition: else:` | ```python if x > 10: print("Greater") else: print("Smaller") ``` |
| `if-elif-else` | Checks multiple conditions sequentially | `if condition: elif condition: else:` | ```python if x > 10: print("Greater") elif x == 10: print("Equal") else: print("Smaller") ``` |
| Nested `if` | `if` inside another `if` statement | `if condition: if condition:` | ```python if x > 5: if x < 20: print("Between 5 and 20") ``` |
| Ternary Operator | Short-hand for `if-else` | `value_if_true if condition else value_if_false` | ```python result = "Positive" if x > 0 else "Negative" ``` |

---

## ðŸ” Looping Statements in Python  

| Loop Type | Description | Syntax | Example |
|-----------|------------|--------|---------|
| `for` loop | Iterates over a sequence (list, tuple, string, range) | `for var in sequence:` | ```python for i in range(5): print(i) ``` |
| `while` loop | Executes as long as a condition is `True` | `while condition:` | ```python x = 5 while x > 0: print(x); x -= 1 ``` |
| Nested Loops | Loop inside another loop | `for ... for ...` / `while ... while ...` | ```python for i in range(3): for j in range(2): print(i, j) ``` |
| `break` | Exits the loop immediately | `if condition: break` | ```python for i in range(5): if i == 3: break print(i) ``` |
| `continue` | Skips the current iteration & moves to next | `if condition: continue` | ```python for i in range(5): if i == 2: continue print(i) ``` |
| `pass` | Placeholder for empty loops or conditions | `if condition: pass` | ```python for i in range(5): pass ``` |
| `else` with loop | Executes after loop finishes normally (not on `break`) | `for/while ... else:` | ```python for i in range(3): print(i) else: print("Loop done") ``` |

---

## ðŸ”¥ Advanced Looping Techniques  

| Technique | Description | Example |
|-----------|------------|---------|
| Looping with `range()` | Generate numbers dynamically | ```python for i in range(1, 10, 2): print(i) ``` |
| Looping over List | Iterate through elements | ```python my_list = [1, 2, 3] for item in my_list: print(item) ``` |
| Looping over Dictionary | Iterate keys, values | ```python my_dict = {"a": 1, "b": 2} for key, value in my_dict.items(): print(key, value) ``` |
| Using `enumerate()` | Get index & value | ```python for i, val in enumerate(["a", "b", "c"]): print(i, val) ``` |
| Using `zip()` | Iterate multiple lists together | ```python names = ["Alice", "Bob"] ages = [25, 30] for n, a in zip(names, ages): print(n, a) ``` |
| List Comprehension | Create lists in a loop | ```python squares = [x**2 for x in range(5)] ``` |

---

This **covers everything** related to selection statements and loops in Python ðŸš€

In [ ]:
if (condition):
    # body for if block
else:
    # body for else block

In [3]:
age = 34

if age > 18:
    print(f"as {age} is greater so eligible")
else:
    print("Not eligible")

as 34 is greater so eligible

In [2]:
14 > 18

False

In [6]:
age = int(input("Enter your age "))

if age > 18:
    print(f"as {age} is greater so eligible")
else:
    print("Not eligible")

Enter your age 18
Not eligible

In [8]:
age = int(input("Enter your age "))

if age > 18:
    print(f"as {age} is greater so eligible")
elif age == 18:
    print("Eligible")
else:
    print("Not eligible")

Enter your age 18
Eligible

In [9]:
10 % 2 == 0

0

In [10]:
11 % 2

1

In [3]:
no = int(input("Enter a number "))

if (no % 2) == 0:
    print(f"{no} is even")
    
else:
    print(f"{no} is odd")

Enter a number 12
12 is even

In [1]:
3 % 2

1

In [4]:
12 > 14

False

In [5]:
a = int(input("Enter a number "))
b = int(input("Enter a number "))

if a > b:
    print(f"{a} is max")
    
else:
    print(f"{b} is max")

Enter a number 3
Enter a number 7
7 is max

In [ ]:
if codition:
    if condition:
        # body
        
else:
    # body

In [ ]:
## Looping

In [6]:
print('1')
print('2')

1
2

In [ ]:
for i in iterable:
    print(i)

In [ ]:
range(start, end+1, step)

range(6)  ---> end+1 = 6 = 5 + 1
range(2,6) ---> 2 start 5+1 end
range(2,7,2)  ----> 2 start 6+1 end 2 step

In [12]:
for i in range(3):
    print(i)

0
1
2

In [15]:
for i in range(2,9,1):
    print(i)

2
3
4
5
6
7
8

In [17]:
for i in range(2,9,3):
    print(i)

2
5
8

In [23]:
for i in range(6):
    print(i+4)

4
5
6
7
8
9

In [24]:
for i in range(4):
    if i % 2 == 0:
        print(i)

0
2

In [ ]:
till 10 all the odd numbers

In [ ]:
a = int(input("Enter a number "))
b = int(input("Enter a number "))
if a > b:
    print(f"{a} is max") 
else:
    print(f"{b} is max")

In [ ]:
no = int(input("Enter a number "))
if (no % 2) == 0:
    print(f"{no} is even")  
else:
    print(f"{no} is odd")

In [ ]:
age = int(input("Enter your age "))
if age > 18:
    print(f"as {age} is greater so eligible")
elif age == 18:
    print("Eligible")
else:
    print("Not eligible")

In [ ]:
for i in iterable:
    print(i)

In [ ]:
iterable --> range , list, string, set, dictionary

In [4]:
a = "Prana bhargavi"

In [5]:
for i in a:
    print(i)

P
r
a
n
a

b
h
a
r
g
a
v
i

In [6]:
for i in "udaya":
    print(i)

u
d
a
y
a

In [16]:
for i in "udaya":
    print(i, end=" ")

u d a y a

In [11]:
for i in range(1,6):
    print(i, end = " ")

1 2 3 4 5

In [ ]:
range(start,end,step)

In [12]:
for i in range(6):
    print(i, end = " ")

0 1 2 3 4 5

In [17]:
lst = [1,2,3,"udaya","apana","nayak"]

for i in lst:
    print(i)

1
2
3
udaya
apana
nayak

In [18]:
st = {1,2,3,"udaya","apana","nayak"}

for i in st:
    print(i)

1
2
3
nayak
apana
udaya

In [19]:
tup = (1,2,3,"udaya","apana","nayak")

for i in lst:
    print(i)

1
2
3
udaya
apana
nayak

## break

In [20]:
for i in range(7):
    print(i)

0
1
2
3
4
5
6

In [23]:
for i in range(7):
    print(i)
    if i == 3:
        break

0
1
2
3

## continue

In [24]:
for i in range(7):
    print(i)

0
1
2
3
4
5
6

In [25]:
for i in range(7):
    if i == 3:
        continue
    print(i)

0
1
2
4
5
6

## pass

In [30]:
if 2>3:
    pass

## exit

In [31]:
exit()